# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages

--extra-index-url https://pypi.tuna.tsinghua.edu.cn/simple
loguru==0.7.2
openai==0.28.1
matplotlib==3.8.1
seaborn==0.13.0
scikit-learn==1.3.2
pandas==1.5.3
numpy==1.26.2
adjustText==0.8
loguru==0.7.2
Werkzeug==2.2.3
flask==2.2.5
pytest==8.1.1
loguru==0.7.2
elasticsearch==7.10.1
langchain_text_splitters
langchain-core<0.2.0,>=0.1.28
networkx==3.2.1
pymilvus==2.4.7
spacy==3.7.0
jieba==0.42.1
datasketch==1.6.5
nltk==3.8.1
geoip2==4.8.0
spacy_pkuseg
apache-skywalking
prometheus_flask_exporter
prometheus_client
azure-cognitiveservices-search-newssearch
azure-cognitiveservices-search-websearch
flask_mongoengine
mongoengine
requests
pytest-html
nacos-sdk-python==1.0.0
marshmallow==3.13


