
.driver-popover {
    padding: 0px !important;
    max-width: 500px !important;
  }

  .driver-popover-description {
    background: linear-gradient(90deg, #4044ED -0.16%, #070DFF 75.42%) !important;
    color: white;
    padding: 8px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    border-radius: 3px 3px 0px 0px !important;
  }

  .driver-popover-footer {
    padding: 5px 12.5px 6.8px 8.5px !important;
    margin-top: 0px !important;
    border-radius: 0px 0px 3px 3px !important;
  }

  .driver-popover-next-btn {
    color: #0F14FD !important;
    border: none !important;
    font-size: 12px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 22px !important; 
    padding: 0px !important;
  }
  .driver-popover-progress-text {
    color: #19222E !important;
    font-size: 12px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 22px !important;
  }

  .driver-popover-arrow-side-left {
    border-left-color: #070DFF !important; 
  }

  .driver-popover-arrow-side-right {
    border-right-color: #4044ED !important; 
  }

  .driver-popover-arrow-side-bottom {
    border-bottom-color: #070DFF !important; 
  }

  .driver-popover-arrow-side-top {
    border-top-color: white !important; 
  }

  .driver-text-box {
    border-radius: 3px;
    border: 1px solid #D2D4D6;
    padding: 0px 7px;
  }