:root {
    --c-text-error: #ED5B56;
    --c-text-normal: #4044ED;
    --c-text-gray: #828282;
    --c-text-black: rgba(0, 0, 0, 0.85);
    --c-text-gray-lighter: rgba(0, 0, 0, 0.45);
    --el-color-primary: #4044ED !important;

    --N1: #19222E;
    --N3: #8B9096;
}

.rCS1w3zcxh {
    --moveable-color: #4044ED !important;
}
  
